  /* === GENERAL === */
  body {
    margin: 0;
    padding: 0;
    background-color: #E9E8E3;
    font-family: "dm-mono", monospace;
    color: #252829;
  }

  /* === NAVEGACION === */

  nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5%;
    /* es "2rem 5%" para que sea una medida variable en vez de usar px fijos */
  }

  nav a {
    text-decoration: none;
    color: #252829;
    font-weight: bold;
  }

  .hero {
    text-align: center;
    padding: 2rem 10%;
    margin-bottom: 2rem;
  }

  .hero h1 {
    font-size: 3.5rem;
    margin: 0.5rem;
  }

  .hero p {
    font-size: 1.25rem;
    line-height: 1.5;
    max-width: calc(66.6% + 2rem);
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  /* === PROYECTOS === */

  .proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 5% 5rem 5%;
  }

  .item {
    background-color: #799BB8;
    aspect-ratio: 1 / 1;
    border: 1px solid #999;
    border-radius: 1rem;

    /* Centrado de contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centra verticalmente */
    align-items: center;
    /* Centra horizontalmente */
    padding: 1.5rem;
    text-align: center;
  }

  .item h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #252829;
  }

  .item ul {
    list-style: none;
    /* Quita los puntitos de la lista */
    padding: 0;
    margin: 0;
  }

  .item li {
    margin: 0.5rem 0;
    /* Espacio entre proyectos */
  }

  .item li a {
    text-decoration: none;
    color: #252829;
    font-size: 1.1rem;
    transition: opacity 0.3s;
    /* Para que el efecto hover sea suave */
  }

  /* Efecto para cuando pases el mouse por un proyecto */
  .item li a:hover {
    text-decoration: underline;
    opacity: 0.7;
  }


  /* === ESTRUCTURA DE PROYECTOS === */

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 5%;
  }

  /* --- imagen de portada --- */
  .p-img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin-bottom: 3rem;
    border: 1px solid #999;
  }

  /* --- contenido --- */

  .p-content {
    margin-bottom: 4rem;
  }

  .p-content h2 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }

  .p-content p {
    line-height: 1.8;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  /* --- metadatos (ano, categoria, etc) --- */

  .p-meta {
    display: flex;
    gap: 3rem;
    border-top: 1px solid #252829;
    padding-top: 1.5rem;
    margin-bottom: 3rem;
  }

  .p-meta-item label {
    display: block;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.6;
    margin-bottom: 0.3rem;
  }

  /* enlaces dentro de los metadatos */
  .p-meta-item span a {
    text-decoration: none;
    color: #252829;
    border-bottom: 1px solid rgba(29, 34, 43, 0.3);
    transition: all 0.3s ease;
  }

  .p-meta-item span a:hover {
    border-bottom: 1px solid #252829;
    opacity: 0.7;
  }

  /* galeria de imagenes */

  .p-img-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .p-img-gallery img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    background-color: #252829;
  }






  /* === MEDIA QUERY (para celulares) === */
  @media (max-width: 768px) {

    /* el titulo se hace mas pequeno en celulares */
    .hero h1 {
      font-size: 2.2rem;
    }

    /* la cuadricula pasa de 3 columnas a 1 sola */
    .proyectos {
      grid-template-columns: 1fr;
    }

    /* la estructura de proyectos se modifica */
    .p-meta {
      flex-direction: column;
      /* En móvil se apilan */
      gap: 1.5rem;
    }

    .p-grid {
      grid-template-columns: 1fr;
    }

  }